.abu{
    margin: 80px auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.abu1{
    height: 350px;
    width: 40%;
    border-radius: 10px;
    display: block;
}
.abu2{
    height: 350px;
    width: 50%;
    border-radius: 10px;
    display: block;
}
.name{
    text-align: center;
}